div {
	height: 550px;
	width: 700px;
	border: 2px solid black;
	padding: 10px;
}

table {
	width: 600px;
	margin-top: 10px;
	border-collapse: collapse;
}

h1 {
	font-family: arial;
}

th, td {
	padding: 7px 10px 10px 10px;
	font-family: arial;
}

th {
	color: white;
	font-size: 20px;
}

td {
	font-weight: bold;
}

table, th, td {
   border: 1px solid black;
}

tr:nth-child(even) {
	background-color: #d3d3d3
}

.headers {
	background-color: #d3d3d3
}

button {
	padding: 10px;
	background-color: red;
	border-radius: 10px;
	color: white;
	font-weight: bold;
}